$margin: 15px;
$desktop: 780px;
$tablet: 569px;

@mixin mobile {
    @media (max-width: 568px) {
        @content;
    }
};

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

.background {
    background-color: #FEFEFE;
    margin-right: 6em;
    border-bottom-right-radius: 30px;
    height: 80%;
    box-shadow: 3px 0px 40px 3px #ccc;
    padding: 2em;

    @include mobile {
        margin-right: 0em;
        height: 100%;
    }

    @include tablet {
        margin-right: 2em;
    }

    @include desktop {
        margin-right: 6em;
    }
}

.main {

    @include tablet {
        display: grid;
        grid-template-columns: 50% auto;
        grid-gap: 1em;
        grid-template-areas: "nav phone"
    }

    .nav {
        margin-top: $margin;
        text-align: center;
        margin-bottom: $margin;

        .logolink {
            @include mobile {
                display: none;
            }
        }

        @include tablet {
            grid-area: nav;
            text-align: left;
            display: grid;
            align-items: center;
            justify-items: center;
            grid-template-columns: 1fr 2fr 2fr 1fr;
        }

        @include desktop {
            grid-template-columns: repeat(4, 1fr);
        }

        a {
            display: block;
            text-decoration: none;
            color: black;

            @include mobile {
                line-height: 2em;
                font-size: larger;
            }
        }

        a:hover {
            color: #FA2900;
        }

    }

    .phone {
        margin-top: $margin;
        text-align: center;

        @include tablet {
            grid-area: phone;
            height: 60px;
        }
    }
}

.logo {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.stores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
