<div id="foreground">
  <div class="main">

    <section id="ground" class="logo">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut minima labore suscipit alias adipisci assumenda quibusdam soluta velit omnis, quo quisquam sit molestiae obcaecati facilis illo dolor? Iusto tempora doloremque aut eos. Deleniti, ducimus sapiente quis, repellat voluptatibus harum dicta sequi exercitationem tempore praesentium eaque natus corrupti, illum laborum autem accusamus nisi? Error aut magni ea nostrum cumque a asperiores dolorem id quia enim, eligendi accusamus sunt veritatis facilis, qui nam animi tempore quis minima suscipit voluptatem autem. Laboriosam ea quae inventore eum soluta vel at odio dolor culpa porro!
    </section>

    <section class="phone">
      <img src="assets/images/iphone.jpg" alt="">
    </section>


    <nav class="nav">
      <div>Content</div>
      <div>Content</div>
      <div>Content</div>
      <div>Content</div>
      <div>Content</div>
    </nav>

  </div>
</div>
