<div id="foreground">
  <div class="main">

    <section id="ground" class="logo">
      <div class="animated" [ngClass]="animationName">
        <img src="assets/images/logo.png" class="img-fluid" width="250px" height="250px" alt="">
      </div>
      <div>
        <h1 style="font-weight: lighter; font-size: xx-large;">Dash</h1>
      </div>
      <div class="stores">
        <div>
          <img src="assets/images/appstore.png" width="120px" alt="">
        </div>
        <div>
          <img src="assets/images/googleplay.png" width="120px" alt="">
        </div>
      </div>
    </section>

    <section class="phone animated delay-0s fadeInUp">
      <img src="assets/images/iphone.jpg" alt="">
    </section>


    <nav class="nav">
      <a class="logolink" style="cursor: pointer">
        <img src="assets/images/small logo.png" class="img-fluid" width="30px" height="30px" alt="">
      </a>
      <a href="">About us</a>
      <a href="">Legal</a>
      <a href="">Join us</a>
    </nav>

  </div>
</div>
