@import "../../variables.scss";

@mixin mobile {
    @media (max-width: 568px) {
        @content;
    }
};

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

.space-below {
    margin-bottom: $below;
}

.background {
    background-color: #FEFEFE;
    margin-right: 6em;
    border-bottom-right-radius: 30px;
    height: auto;
    box-shadow: 3px 0px 40px 3px #ccc;
    padding: 2em;

    @include mobile {
        margin-right: 0em;
        height: 100%;
    }

    @include tablet {
        margin-right: 2em;
    }

    @include desktop {
        padding-top: 0.2em;
        margin-right: 6em;
    }
}

.main {

    @include tablet {
        display: grid;
        grid-template-columns: 50% auto;
        grid-gap: 1em;
        grid-template-areas: "nav phone";
    };

    .nav {
        margin-top: $margin;
        text-align: center;
        margin-bottom: $margin;

        @include mobile {
            display: block !important;
        }

        .logolink {
            @include mobile {
                display: none !important;
            }
        };

        @include tablet {
            grid-area: nav;
            text-align: left;
            display: grid;
            align-items: center;
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
        };

        @include desktop {
            grid-template-columns: repeat(6, 1fr);
            justify-items: center;
        };

        a {
            display: block !important;
            text-decoration: none;
            color: $primary;

            @include mobile {
                line-height: 2em;
                font-size: larger;
            }
        }

        a:hover {
            color: $secondary;
        }

    }

    .phone {
        margin-top: $below;
        margin-bottom: 20px;
        text-align: center;

        @include tablet {
            grid-area: phone;
            height: 60px;
        }
    }
}

.logo {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.stores {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
