<div class="main">

  <header>
    <div class="content">
      <nav class="nav">
        <a href="" class="mobile-link" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
        <a href="" [routerLink]="['/restaurants']" routerLinkActive="router-link-active">Restaurants</a>
        <a href="" [routerLink]="['/dashers']" routerLinkActive="router-link-active">Dashers</a>
        <a href="" [routerLink]="['/careers']" routerLinkActive="router-link-active">Careers</a>
        <a href="" [routerLink]="['/about-us']" routerLinkActive="router-link-active">About us</a>
        <div class="dropdown" style="cursor: pointer; display: inline-block;">
          <a class="dropdown-toggle" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Legal
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu">
            <button [routerLink]="['/privacy']" routerLinkActive="router-link-active" class="dropdown-item" type="button">Privacy
              policy</button>
            <button [routerLink]="['/terms']" routerLinkActive="router-link-active" class="dropdown-item" type="button">Terms
              of service</button>
            <button [routerLink]="['/fleet-agreement']" routerLinkActive="router-link-active" class="dropdown-item"
              type="button">Fleet
              Agreement</button>
            <button [routerLink]="['/shipping-policy']" routerLinkActive="router-link-active" class="dropdown-item"
              type="button">Shipping
              policy</button>
          </div>
        </div>
      </nav>

      <div class="left-over"></div>
    </div>
  </header>

  <section class="container">

    <h1 style="text-align: center; margin-top: 1em;">DASH SHIPPING POLICY</h1>
    <div class="body-text">
      <p style="margin-top: 1em;">
        The following document outlines DASH shipping policy. The under listed items refer to items which DASH does not ship.
      </p>
    </div>

    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Examples</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Alcohol & Tobacco </td>
            <td>Alcohol and tobacco deliveries may be limited or restricted in some markets.</td>
          </tr>
          <tr>
            <td>Counterfeit and unauthorized goods </td>
            <td>Replicas or imitations of designer or other goods; items without a celebrity endorsement that would normally require such an association; fake autographs; currency; stamps, tickets; other potentially unauthorized goods.</td>
          </tr>
          <tr>
            <td>Drugs and drug paraphernalia</td>
            <td>Controlled substances, narcotics, illegal drugs, and drug accessories, including psychoactive and herbal drugs such as salvia and magic mushrooms and materials promoting their use; or legal substances, such as plants or herbs, in a manner that suggests ingesting, inhaling, extracting or otherwise using any substance or compound from the legal substance will provide the same effect as an illegal drug, compound or substance or that will provide unsubstantiated health benefits.</td>
          </tr>
          <tr>
            <td>Hacking and cracking materials</td>
            <td>Manuals, how-to guides, information, or equipment that violate the law by damaging or enabling unlawful access to software, servers, websites, or other protected property.</td>
          </tr>
          <tr>
            <td>Human parts</td>
            <td>Organs or other body parts; body fluids; stem cells; embryos.</td>
          </tr>
          <tr>
            <td>Illegal/Stolen goods</td>
            <td>Materials, products, or information promoting illegal goods or enabling illegal acts; goods you do not own or have the right to sell; goods produced in violation of a third party's rights; smuggled goods and goods in violation of export, import or labeling restrictions; motor vehicles subject to transfer restriction; goods recorded on public registers and whose transfer requires formalities that cannot be legally completed online. You are solely and completely responsible for verifying that all items you sell are authentic and legal.</td>
          </tr>
          <tr>
            <td>Miracle cures</td>
            <td>Unsubstantiated cures, remedies or other items marketed as quick health fixes.</td>
          </tr>
          <tr>
            <td>Offensive goods</td>
            <td>
              Alcohol and tobacco deliveries may be limited or restricted in some markets.
              <ul class="listing">
                <li>Defame or slander any person or groups of people based on race, ethnicity, national origin, religion, sex, or other factors</li>
                <li>Defame or slander any person or groups of people protected from defamation or slander by applicable law.</li>
                <li>Encourage or incite violent acts.</li>
                <li>Promote intolerance or hatred.</li>
                <li>Promote or support membership in terrorist groups or other organizations prohibited by law.</li>
                <li>Promote revisionist theories prescribed by applicable law.</li>
                <li>Contravene public morality.</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Offensive goods, crime </td>
            <td>Crime scene photos or items, such as personal belongings, associated with criminals or criminal acts.</td>
          </tr>
          <tr>
            <td>Precious materials </td>
            <td>Bulk sales of rare, scarce, or valuable metals or stones.</td>
          </tr>
          <tr>
            <td>Pyrotechnic devices and hazardous materials </td>
            <td>Fireworks and related goods in markets where delivery of such goods are ; toxic, flammable, and radioactive materials and substances; gunpowder; explosives, gasoline, propane tanks.</td>
          </tr>
          <tr>
            <td>Regulated goods </td>
            <td>Air bags; batteries containing mercury; Freon or similar substances/refrigerants; chemical/industrial solvents; medical procedures; car number plates; police badges and law enforcement equipment; lock-picking devices; medical devices; pesticides and insecticides; postage meters; passive fitness equipment and electro stimulators; recalled items; slot machines; surveillance equipment that is primarily used to obtain unlawful interception of wire, oral, or electronic communications and/or to facilitate the unlawful view or recording of individuals; goods regulated by government or other agency specifications.</td>
          </tr>
          <tr>
            <td>Weapons</td>
            <td>Firearms, ammunition, and other items including but not limited to firearms, disguised, undetectable or switchblade knives, martial arts weapons, silencers, ammunition, ammunition magazines, BB guns, and tear gas.</td>
          </tr>
          <tr>
            <td>Wholesale currency </td>
            <td>Discounted currencies or currency exchanges; currency backed by precious metals.</td>
          </tr>
          <tr>
            <td>Misuse of Platform/Abuse</td>
            <td>We have no tolerance for abusive language and/or abusive behavior towards our company and/or service we provide and/or our employees and/or DASH. Any customer deemed at our sole discretion to be abusive to our company and/or service we provide and/or our employees and/or DASH will result in immediate irrevocable account termination without any refund. Threats to sue, slander, libel, etc., are all considered forms of abuse and will result in immediate irrevocable account termination without any refund.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div>
      <h4 style="text-align: center; margin-top: 3em">Violations of Shipping Policy</h4>
      <div class="body-text">
        DASH reserves the right to seek all solutions available for violations of the Shipping Policy, including without limitation, the right to revoke access to our service/platform.
      </div>
    </div>

  </section>

</div>

