/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: gt-pressura;
  src: url(assets/fonts/gt-pressura-bold-italic.ttf) format("opentype");
  src: url(assets/fonts/gt-pressura-bold.ttf) format("opentype");
  src: url(assets/fonts/gt-pressura-light-italic.ttf) format("opentype");
  src: url(assets/fonts/gt-pressura-light.ttf) format("opentype");
  src: url(assets/fonts/gt-pressura-regular-italic.ttf) format("opentype");
  src: url(assets/fonts/gt-pressura-regular.ttf) format("opentype");
};

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #FEFEFE;
    font-family: gt-pressura;
    color: #020029;
}
